/* Define common styles */
:root {
    --primary-color: #f39c12;
    --secondary-color: #2c3e50;
    --tertiary-color: #34495e;
    --text-color: #ecf0f1;
    --label-color: #bdc3c7;
}

body {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    margin: 0;
    padding: 0;
    background-color: var(--secondary-color);
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

.container {
    max-width: 100%;
    width: 500px;
    margin: 0 10px;
    padding: 40px;
    background-color: var(--tertiary-color);
    border-radius: 15px;
    box-shadow: 0 8px 16px rgba(0, 0, 0, 0.3);
    color: var(--text-color);
}

h1, a {
    color: var(--primary-color);
    text-align: center;
}

a {
    text-decoration: none;
}

label {
    display: block;
    margin-bottom: 10px;
    color: var(--label-color);
}

input[type="text"] {
    width: calc(100% - 20px); /* Adjusted input width */
    padding: 10px;
    margin-bottom: 20px;
    border: none;
    border-radius: 5px;
    background-color: var(--secondary-color);
    color: var(--text-color);
}

input[type="text"]:focus {
    outline: 1px solid var(--primary-color);
}

button {
    padding: 12px 24px;
    background-color: var(--primary-color);
    color: var(--secondary-color);
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s;
    width: 100%;
    display: block;
    font-size: 16px;
    font-weight: bold;
}

button:hover {
    background-color: #f4b350;
}

.footer {
    margin-top: 20px;
    text-align: center;
    font-size: 12px;
    color: var(--label-color);
}

/* Hide the default checkbox */
input[type="checkbox"] {
    opacity: 0;
}

/* Style the custom checkbox */
.checkbox-wrapper {
    position: relative;
    display: inline-block;
    width: 40px; /* Adjust the width of the checkbox */
    height: 20px; /* Adjust the height of the checkbox */
}

.checkbox-wrapper input[type="checkbox"] + label {
    position: absolute;
    cursor: pointer;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: var(--secondary-color); /* Background color of the checkbox */
    border-radius: 20px; /* Adjust the border-radius to create a pill shape */
    transition: background-color 0.3s;
    outline: none; /* Remove default outline */
}

/* Outline label when checkbox is focused */
.checkbox-wrapper input[type="checkbox"]:focus-visible + label {
    outline: 1px solid white; /* Add outline color */
    border: 1px solid blue; ;
}

/* Style the slider (the thumb of the checkbox) */
.checkbox-wrapper input[type="checkbox"] + label::before {
    content: '';
    position: absolute;
    top: -45%;
    left: 9%;
    width: 20px; /* Width of the slider */
    height: 20px; /* Height of the slider */
    background-color: var(--text-color); /* Color of the slider */
    border-radius: 50%; /* Shape the slider as a circle */
    transition: transform 0.3s;
}

/* Move the slider to the right when the checkbox is checked */
.checkbox-wrapper input[type="checkbox"]:checked + label::before {
    transform: translateX(75%); /* Move the slider to the right */
}

/* Change background color of the slider when toggled on */
.checkbox-wrapper input[type="checkbox"]:checked + label {
    background-color: var(--primary-color); /* Change background color to blue */
}

